.song-card {
    margin-bottom: 1em;
}

.song-card-link {
    text-decoration: none;
    color: black;
}

.song-details {
    margin-top: .3em;
}

.song-details > p {
    margin: 0;
}

.song-card img {
    object-fit: cover;
    height: 180px;
    width: 180px;
}

.artist-name {
    font-size: .8em;
    color:rgb(153, 153, 153);
    padding-top: 3px;
}
.card-image {
    position: relative;
}

.song-play {
    position: absolute;
    top: 35%;
    left: 35%;
    cursor: pointer;
}

.fa-circle-play{
    color: rgb(240, 63, 24);
}

.song-play:hover .fa-circle-play{
    color: rgb(228, 38, 13);
}

.song-track-name:hover{
    text-decoration: underline;
}
