.album-like {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.tracks-likes-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.profile-header{
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-left: 10em;
}

#profile-image {
    height: 200px;
    width: 200px;
    object-fit: fill;
    border-radius: 200%;
}

.track-image {
    height: 160px;
    width: 160px;
    object-fit: cover;
}

.likes-list-div {
    display: flex;
    flex-flow: row;
    padding: 5px;
}

.likes-list-div p {
    margin: 3px;
    padding-left: 5px;
}

.profile-h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.link1 {
    text-decoration: none;
    color: black;
}