.splash-image {
    background-image: url("https://i.ibb.co/yVxN4hf/club2-cut.png");
    background-repeat: no-repeat;
    height:555px;
    width: 1024px;
    margin: auto;
}

.index-landing {
    width: 1240px;
    min-height: 1000px;
    margin: auto;
    background-color: white;
}

.hear {
    font-size: 1.5em;
    text-align: center;
}

.splash-text {
    margin: auto;
}

.splash-text > h1, .splash-text > p {
    text-align: center;
    color: white;
}

.splash-p {
    font-size: 1.5em;
}