.song-upload-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.upload-div label, input {
    padding: 5px;
    margin: 5px;
}

/* .index{
    max-width: fit-content;
} */
